body{
  font-family: 'Varela Round', sans-serif;
  position: relative;
  top: 10vw;
  background-color: #e2e8f0;

}

#home {
  color: black;
  background-color: rgba(0,0,0,0.05);
}

h2 {
  color: #6813bb;
}

.nabar {
  position: fixed;
  overflow: hidden; /* Hide overflow */
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
  z-index: 10;

}
/* Center the avatar image inside this conainer */
.imgconainer {
  text-align: left;
}

/* Avatar image */
img.logo {
  position: static;
  height: 5vw;
  border-radius: 0%;
}
.search-conainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  background-color: black;
  height: 5vw;
}

.search-conainer input {
  font-family: 'Varela Round', sans-serif;
  width: 80%;
  float: left;
  height: 100%;
  font-size: 1.5vw;
  padding: 2vw;
  border: 0px solid black;
  color: #6813bb;
}
.search-conainer form {
  width: 100%;
}

.search-conainer button {
  font-family: 'Varela Round', sans-serif;
  width: 20%;
  height: 100%;
  background-color: white;
  border: 0px solid black;
}

.search-conainer img {
  width: 100%;
  height: 100%;

}

.search-conainer img {
  width: 100%;
  height: 100%;

}

.search-conainer button:hover {
  background: #6813bb;
  cursor: pointer;
}

.icnconainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

img.icn {
  width: 12vw;
  padding-right: 3.5vw;
  padding-left: 3.5vw;
}

img.menuicn {
  width: 12vw;
  padding-right: 3.5vw;
  padding-left: 3.5vw;
}

img.menuicn:hover {

}
/* drpdwn Button */

/* The conainer <div> - needed to position the drpdwn content */
.drpdwn {
  float: right;
  overflow: hidden;
  display: inline-block;
}

.drpdwn .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.drpdwn-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 20%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid black;
}

.drpdwn-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drpdwn-content a:hover {
  background-color: #ddd;
}

.drpdwn:hover .drpdwn-content {
  display: block;
}

/* Style the navigation bar links */
.nabar img {
  display: block; /* Change the display to block, for responsive reasons (see below) */
}

/* Change color on hover/mouse-over */
.nabar img:hover {
  background-color: #6813bb; /* Black text color */
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/*profile css*/
/*----------------------------------*/

/* chats css */



* {
  font-family: 'Avenir';
}
input.btn.btn-outline-primary {
  color: #8219E8;
  border: 1px solid #8219E8;
}
input.btn.btn-outline-primary:hover {
  color: white;
  background-color: #8219E8;
}
input.btn.btn-primary {
  background-color: #8219E8;
  border: 1px solid #8219E8;

}
input.btn.btn-primary:hover {
  background-color: #6813bb;
  border: 1px solid #6813bb;

}

/* chathome */
.d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-white {
  position: fixed;
  left: 0;
  top: 5vw;
  height: 95vh;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

a.list-group-item.list-group-item-action.py-3.lh-tight {
  max-height: 23vh;
  min-height: 5vh;
  overflow: hidden;

}
#post-create-form {
  position: fixed;
  right: 0;
}

.list-group.list-group-flush.border-bottom.scrollarea {
  width: 100%;
}
input #message, select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=number], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
.card {
  border-radius: 5px;
  padding: 20px;
}

.d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-white {
  top: 5vw;
  height: 100vh;

}
li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap {
  position: fixed;
  top: 5vw;
  right: 15vw;
  z-index: 10;
  width: 60vw;
  max-width: 60vw;
  background-color: #f2f2f2;
  border-radius: 0;
  border-left: 0px solid blue;

}
#display {
  position:fixed;
  top: 9vh;
  height: 76vh;
  overflow-y: auto;
  width: 60vw;
  right: 15vw;
  border-radius: 0;
  background-color: #f2f2f2;
  padding: 20px;

}
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}
#top-bar {
  position: fixed;
  z-index: 10;
  top: 5vw;
}
.container {
  position: fixed;
  bottom: 0;
  right: 15vw;
  max-width: 60vw;
  border-radius: 0;
  padding: 20px;
  background-color: #f2f2f2;

}
input.btn.btn-primary {
  display: none;
}
